.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 0.5rem;
}

.title {
  font-weight: 400;
}

.cardContainer {
  display: grid;
  grid-gap: 1rem;
}

.card {
  background: #333333;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
}

.cardHeader {
  font-size: 90%;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.countNumber {
  font-size: 2rem;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  margin: 0;
}

.footer {
  font-size: 90%;
  font-weight: 300;
  line-height: 1.5;
  margin: 2rem 0;
  text-align: center;
}

.link {
  color: unset;
}

@media (min-width: 578px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .countNumber {
    font-size: 3rem;
  }
}
